[{
  "name": "${container_name}",
  "image": "${image}",
  "networkMode": "awsvpc",
  "environment": [
    {
      "name": "PORT",
      "value": "${PORT}"
    },
    {
      "name": "NODE_ENV",
      "value": "${NODE_ENV}"
    },
    {
      "name": "CT_URL",
      "value": "${CT_URL}"
    },
    {
      "name": "LOCAL_URL",
      "value": "${LOCAL_URL}"
    },
    {
      "name": "LOGGER_LEVEL",
      "value": "${logger_level}"
    },
    {
      "name": "TEAMS_API_URL",
      "value": "${TEAMS_API_URL}"
    },
    {
      "name": "V3_TEAMS_API_URL",
      "value": "${V3_TEAMS_API_URL}"
    },
    {
      "name": "MONGO_PORT_27017_TCP_ADDR",
      "value": "${MONGO_PORT_27017_TCP_ADDR}"
    },
    {
      "name": "API_VERSION",
      "value": "${API_VERSION}"
    }
  ],
  "secrets": [
    {
      "name": "DB_SECRET",
      "valueFrom": "${db_secret_arn}"
    }
  ],
  "portMappings": [
    {
      "containerPort": ${container_port},
      "hostPort": ${container_port}
    }
  ],
  "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${container_name}"
       }
  }
}]
